{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features1">
    <h6>Привет, мой псевдоним</h6>
    <h1>Jin Drew</h1>
    <h1 style="color:#C0C0C0">Я занимаюсь web разработкой</h1>
    <p style="color:#C0C0C0">Большинство хороших программистов делают свою работу не потому, что ожидают оплаты или
        признания, а потому что
        получают
        <nobr style="color:#00FFFF">удовольствие</nobr>
        от программирования.
    </p>
    <form action="https://t.me/jin_drew" target="_blank">
        <button class="btn btn-info" style="margin-left: -540px; margin-top: 10px;">Связаться со мной</button>
    </form>
</div>
{% endblock %}
